.vscode
.DS_Store
__pycache__
sources
books
Sample
build
dist
packages/com.vendor.product/data
usr/share/ebookcreator/bin
usr/share/ebookcreator/books
usr/share/ebookcreator/sources
usr/share/ebookcreator/themes
EbookCreator-Linux*
EbookCreator-Windows*
main.spec
